pandas==2.2.3
numpy==1.21.6
matplotlib 
matplotlib-inline 
seaborn==0.13.2
scikit-image==0.18.3
scikit-learn==1.5.2
streamlit
requests 
nltk==3.6.5
cloudpickle 
pickleshare 
googlecolab
joblib
setuptools
